
   


<form action="/login" method="POST">  

 <img src="img/oppas.png" alt="Oppas illustratie">
        <section class="container">   
            <h1>Log in</h1>
            <label for="email">Email</label>   
            <input type="email" id="emaile" name="email" required>  

            <label for="password">Wachtwoord </label>   
            <input type="password" id="password" name="password" required>  

            <button type="submit">Inloggen</button>   
           

            <p>Nog geen account? <a href="/register">Maak een account aan.</a></p>
        </section>   
 </form>   

