<form action="/login" method="POST">  


        <section class="container">   
            
            <label for="email">Emai</label>   
            <input type="email" id="emaile" name="email" required>  

            <label for="password">Wachtwoord </label>   
            <input type="password" id="password" name="password" required>  

            <button type="submit">Inloggen</button>   
           
        </section>   
 </form>   