<form action="/register" method="POST" >  
        <section class="container">   

            <label for="email">E-mail </label>   
            <input type="email" id="email" name="email" required>  
            
            <label for="name">Gebruikersnaan </label>   
            <input type="text" id="name" name="name" required>  
            
            <label for="password">Wachtwoord  </label>   
            <input type="password" id="password" name="password" required>  
           
            <button type="submit">Registreer</button>   
           
        </section>   
 </form>   