
<main class = "grid" >

   <img src="img/oppas.png" alt="Oppas illustratie">

    <form action="/login" method="POST">  

    

      <section class="container">   
            
            <h1>Inloggen</h1>

            {{#if messages.error}}
            {{messages.error}}
            {{/if}}
         
    
             <section class="flex">

                <label>Gebruikersnaam</label>
                <input type="text" name="username"/>

             </section>
    
             <section class="flex">

                <label>Wachtwoord</label>
                <input type="password" name="password"/>

             </section>

             <section>

                <button type="submit" >Inloggen</button>

            </section>
        

                <p class ="onderaan">Nog geen account? <a href="/register">Maak een account aan.</a></p>

      </section>   
   </form>   

</main>


