<form action="/register" method="POST">  

 <img src="img/oppas.png" alt="Oppas illustratie">
        <section class="container">   
            
            <h1>Registreer</h1>

            {{#if messages.error}}
{{messages.error}}
{{/if}}
   <form id="local-reg" action="/login" method="post" enctype="multipart/form-data" onsubmit="return validateForm(this)">
    
    
        <label>Gebruikersnaam:</label>
        <input type="text" name="username"/>
    
    
        <label>Wachtwoord:</label>
        <input type="password" name="password"/>


       <input type="checkbox" name="agree" id="agree" value="yes" />
       <label for="agree">Ik ga akkoord met de algemene voorwaarden</label>
       <div style="visibility:hidden; color:red" id="agree_chk_error">
        Can't proceed as you didn't agree to the terms! </div>
 
        <button type="submit" id="register" >Registreer</button>
    
        

            <p>Al een account? <a href="/login">Log in.</a></p>
        </section>   
 </form>   
 