
<main class = "grid">

  
  <section>
      <img src="./img/oppas.png" alt="">
  </section>  

  <section class="container">
    
    
          <section>
             <h1>ERROR 404</h1>
             <h2>Deze pagina bestaat niet.. </h2>
             <p> Bezoek 1 van de volgende pagina's:</p>
             <ul>
                 <li><a href="/login">Inloggen</a></li>
                 <li><a href="/register">Registreren</a></li>
                 
             </ul>
          </section>
      
       

        
    </section>
    
  </section>
 

</main>

   


