{{#if user}}
  
  <section class = 'main' >
   <img src="img/oppas.png" alt="Oppas">
    <section >
      <h1>Profiel Informatie</h1>
      <p>Welkom, {{user.username}}</p>

     <form action="/verwijder"  method='POST'>
							   
								<button type="submit" >Verwijder Account</button>
							</form>

    </section>
    
      
    

    
    
    </section>
  


{{/if}}

