* {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}
header{
    background-color: #F0E68C;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header ul li{
    list-style: none;
    padding: 1em;
    
    
}

a{
    text-decoration: none;
}

header ul li:hover{
    border-bottom: solid #000 1px;
}

h1{
    text-align: center;
}

form{
    margin: auto;
    width: 250px;
}

form section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

label{
    margin: .5em;
    margin-left: 0;
}

input{
    padding: 1em;
}

button{
    padding: .5em;
    margin-top: 1em;
}

footer{
    position: absolute;
    bottom: 0;
}
